:root {
  --colorWhite: #fff;
  --colorWhite2: #F9F9F9;
  --colorWhite3: #FBFBFB;
  --colorWhite4: #FAFAFA;
  --colorWhite5: #E5E5E5;
  --colorWhite6: #d9d9d9;
  --colorWhite7: #666666;
  --colorGrey: #434A54;
  --colorGrey2: #EBEDEC;
  --colorGrey3: #C4C4C4;
  --colorGrey4: #828282;
  --colorGrey5: #F0F0F0;
  --colorGrey6: #3A3847;
  --colorGrey7: #F5F5F5;
  --colorBlack: #000000;
  --colorBlack2: #2A2B2F;
  --colorGreen: #5CE389;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 2000px !important;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 85%;
  height: 100%;
}

.pd-lr-container {
  width: 85%;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */