
:root {
    --colorWhite : #fff;
    --colorWhite2 : #F9F9F9;
    --colorWhite3 : #FBFBFB;
    --colorWhite4 : #FAFAFA;
    --colorWhite5: #E5E5E5;
    --colorWhite6 : #d9d9d9;
    --colorWhite7: #666666;
    --colorWhite8 : #444444;
    --colorWhite9: #999999;
    --colorWhite10: #ededed;
    --colorWhite11: #e3e3e3 ;
    --colorGrey : #434A54;
    --colorGrey2 : #EBEDEC;
    --colorGrey3 : #C4C4C4;
    --colorGrey4 : #828282;
    --colorGrey5 : #F0F0F0;
    --colorGrey6 : #3A3847;
    --colorGrey7 : #F5F5F5;
    --colorBlack : #000000;
    --colorBlack2 : #2A2B2F;
    --colorBlack3: #222;
    --colorBlack4: #666;
    --colorGreen : #5CE389;

}

.header_main_paper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--colorWhite);

    position: relative;

    .wrap_nav_top {
        z-index: 101;
        background-color: var(--colorWhite);
        
        .nav_top {
            display: flex;
            align-items: center;
            padding: 8px 0;
            margin: auto;
            border-bottom: 1px solid var(--colorGrey3);
            
            .wrap_layout_left {
                display: flex;
                align-items: center;
                width: 45%;
                flex: 1;
    
                .wrap_logo {
                    display: flex;
                    align-items: center;
                    img {
                        width: 120px;
                        height: 30px;
                    }
                }
                .wrap_date {
                    margin-left: 12px;
                    padding-left: 12px;
                    border-left: 1px solid  var(--colorGrey2);
    
                    font-size: 14px;
                    color: var(--colorGrey4);
                }
            }
            .wrap_layout_right {
                display: flex;
                align-items: center;
                .btn_link_pages_type {
                    cursor: pointer;
                    padding:6px 10px;
                    border: 1px solid var(--colorGrey4);
                    border-radius: 4px;
    
                    display: flex;
                    align-items: center;
                    img {
                        width: 12px;
                        margin-right: 4px;
                        filter: opacity(80%);
                    }
                    font-size: 14px;
                    color: var(--colorGrey6);
                    margin-left:8px;
                }
                .wrap_input_search {
                    margin-left: 12px;
                    padding-left: 12px;
                    border-left: 1px solid  var(--colorGrey2);
                    position: relative;
                    overflow: hidden;
                    .input_search {
                        padding:6px 8px;
                        border-radius: 8px;
                        border: 1px solid var(--colorGrey4);
                        color: var(--colorGrey4);
                        &:focus {
                            outline: none;
                        }
                        z-index: -1;
                        transition: transform .2s;
                        transition: .2s all ease;
                        
                        
                        width: 18px;

                    }
                    #open_input_search {
                        position: absolute;
                    }
                    input[id='open_input_search']:checked ~ .input_search{ 
                        
                        width: 160px;
                        .wrap_icon_search {
                           .icon {
                                img {
                                    transform: translateX(0px);    
                                }
                           }
                        }
                    }
                    
                    .wrap_icon_search {
                        overflow: hidden;
                        cursor: pointer;
                        background-color: var(--colorWhite);
                        position: absolute;
                        top: 0;
                        right: 0px;
                        z-index: 2;
                        .icon {
                            padding-top: 5px;
                            padding-right: 8px;
                            padding-left: 8px;
                            padding-bottom: 4px;
    
                            
    
                            border: 1px solid var(--colorGrey4);
                            border-radius: 8px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-left: 0;
                            img {
                                width: 12px;
                                transform: translateX(-2px);
                                filter: opacity(80%);
                            }
                        }
                        
                    }
                    
                }
                .wrap_btn_login_register {
                    padding: 4px 8px;
                    margin: 0 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    img {
                        width: 12px;
                        height: 12px;
    
                        filter: opacity(60%);
                        margin-right: 8px;
                    }
                    font-size: 14px;
                    color: var(--colorGrey6);
                }
            }
        }
          
    }
    .wrap_nav_menu {
        z-index: 100;
        background-color: var(--colorWhite);
        .nav_menu {
            display: flex;
            align-items: center;
            position: relative;
            margin: auto;
            border-bottom: 1px solid var(--colorGrey3);
            background-color: var(--colorWhite);

            .wrap_icon_home {
                border-radius: 50%;
                width: 20px;
                text-align: center;

                cursor: pointer;
                margin:0 8px;                
                img {
                    width: 15px;
                    height: 15px;
                }
            }
            .wrap_list_menu {
                display: flex;
                justify-content: space-around;
                flex: 1;
                
                .item_menu {
                    position: relative;
                    word-break: keep-all;
                    min-width: max-content;
                    max-width: 92px;
                    padding: 0 8px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        font-size: 15px;
                        text-decoration: none;
                        color: var(--colorBlack);
                        font-weight: bold;
                        font-weight: bold;
                        word-break: keep-all;
                    }
                    .dropdown_menu {
    
                        position: absolute;
                        top: 50px;
                        left: 0;
                        width: 190px;
    
                        display: none;
                        flex-direction: column;
    
                        z-index: 10;
                        background-color:var(--colorWhite);
    
                        box-shadow: 0 2px 8px rgba(0,0,0,.1);
                        transition-duration: 200ms;
                        transition-property: opacity,top,visible;
                        transition-timing-function: cubic-bezier(.7,1,.7,1);
                        
                        a {
                            font-weight: 500;
                            color: var(--colorBlack);
                            margin: 0;
                            padding:8px 12px;
    
                            &:hover {
                                background-color: var(--colorWhite5);
                            }
                        }
    
                    }  
                    
                    &:hover {
                        .dropdown_menu {
                            display: flex;
                            background-color:var(--colorWhite);

                            a {
                                color: var(--colorBlack);
                            }
                        }
                        a {
                            color: var(--colorWhite);
                        }
                        background-color: var(--colorBlack);

                    }
                }
                
            }
             
            
            .wrap_tabbar {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;


                padding: 8px 0;
                margin: 0 8px;

                .txtAll {
                    font-size: 12px;
                    text-decoration: none;
                    color: var(--colorWhite7);
                    font-weight: bold;
                    margin:0 8px;
                }
                img {
                    width: 12px;
                    filter: opacity(50%);
                }
            }
            input[id='open_modal_all_categories']:checked ~ .wrap_modal_all_categories{
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transition: all .9;
                -webkit-transition: all .9;
                -moz-transition: all .9;
                -ms-transition: all .9;
                -o-transition: all .9;
                z-index: -1;
            }  
            .wrap_modal_all_categories{
        
                position: absolute;
                top: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
        
                background-color: var(--colorWhite2);
                height: 70vh;
                z-index: -1;
        
                transform: translateY(-150%);
                -webkit-transform: translateY(-150%);
                -moz-transform: translateY(-150%);
                -ms-transform: translateY(-150%);
                -o-transform: translateY(-150%);
                transition: all .4s;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                -ms-transition: all .4s;
                -o-transition: all .4s;
        
        
        
        
                .modal_all_categories { 
                    width: 80%;
        
                    height: 100%;
        
        
                    .header {
                        max-height: 10%;
                        display: flex;
                        padding: 16px 0;
                        border-bottom: 1px solid var(--colorGrey3);
                        .title {
                            font-size: 18px;
                            color: var(--colorWhite7);
                            font-weight: bold;
                            flex: 1;
                        }
                        .btn_close {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            cursor: pointer;
                            img {
                                width: 12px;
                                height: 12px;
                                margin-left: 8px;
                            }
                        }
                        
                    }
                    .content_modal {
                        width: 100%;
                        height: 90%;
                        display: flex;
        
                        .wrap_list_categories {
                            width: 90%;
                            padding: 16px 0;
        
                            border-right: 1px solid var(--colorGrey3);
                            margin-right: 16px;
        
                            .list_categories {
                                height: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                                grid-template-rows: 1fr;
                                gap: 0px 0px;
                                grid-template-areas:
                                ". . . . . .";
                                overflow-y: scroll;
                                &::-webkit-scrollbar { 
                                    width: 4px;
                                    border-radius: 4px;
                                    background-color: var(--colorBlack4);
                                    height: 8px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background-color: var(--colorBlack4);
                                }
                                &::-webkit-scrollbar-track {
                                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                                    background-color: var(--colorWhite5);
                                }
                                .item_category {
                                    color: var(--colorGrey6);
                                    margin-bottom: 16px;
                                    .title{
                                        font-weight: 600;
                                        font-size: 16px;
                                        cursor: pointer;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                    }
                                    .list_type {
                                        display: flex;
                                        flex-direction: column;
                                        margin-top: 10px;
        
                                        a {
                                            font-size: 13px;
                                            margin: 6px 0;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1; /* number of lines to show */
                                            -webkit-box-orient: vertical;
                                            cursor: pointer;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }   
                                    }
                                    .see_mpre {
                                        width: 80px;
                                        border-top: 1px solid var(--colorGrey3);
                                        color: var(--colorGrey4);
                                        margin: 6px 0;
                                        padding-top: 8px;
                                        font-size: 10px;
        
                                        cursor: pointer;
        
                                    }
                                }
                            }
                        }
                        .wrap_list_type_news {
                            width: 10%;
                            padding: 16px 0;
        
                            .list_type_news {
                                height: 100%;
                                
                                overflow-y: scroll;
                                &::-webkit-scrollbar { 
                                    display: none; 
                                }
                                .type_new {
                                    display: flex;
                                    flex-direction: column;
        
                                   a {
                                       margin: 4px 0;
                                       font-size: 14px;
                                    text-decoration: none;
                                    color: var(--colorBlack);
                                   }
                                    border-bottom: 1px solid var(--colorGrey);
                                    padding-bottom: 16px;
                                    margin-bottom: 16px;
                                }
                            }
                            
                        }
                    }
                }
            }
            
        }
        
    }


    input[id='open_wrap_modal_login']:checked ~ .wrap_modal_login{ 
        display: flex;

    }
    .wrap_modal_login{
        position: fixed;
        top: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        
        justify-content: center;
        align-content: center;
        z-index: 200;
        box-sizing: border-box;
        font-family: 'Open Sans',arial,sans-serif;
        .overlay {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
        .modal_login {
            width: 500px;
            height: 500px;
            position: relative;
            overflow: hidden;
            .background_modal {
                position: absolute;
                img {
                    height: 500px;
                    transform: scale(1.5,1);
                    filter: brightness(0.5);
                }
                z-index: -1;
            }
            
            .content_modal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                .close {
                    position: absolute;
                    top: 35px;
                    right: 35px;
                    line-height: 0;
                    color: #fff;
                    font-family: 'newspaper',sans-serif;
                    font-size: 35px;
                    left: auto;
                    cursor: pointer;
                }
                .header {
                    text-align: center;
                    color:var(--colorWhite);
                    
                    .title {
                        padding: 26px 0 22px;
                        line-height: 20px;
                        font-size: 17px;
                        font-weight: bold;
                        text-transform: uppercase;
                        pointer-events: none;
                    }
                    .greeting {
                        font-size: 14px;
                    }
                }
                .body_input {
                    width: 60%;
                    margin-top: 100px;
                    color: var(--colorWhite);
                    .wrap_all_input {
                        .wrap_input {
                            position: relative;
                            margin-bottom: 36px;
                            .inputValue {
                                width: 100%;
                                background-color: transparent;
                                border: 0;
                                border-bottom: 1px solid var(--colorWhite);
                                color: white;
                                outline:0 none;  
                                z-index: 1;    
                                height: 30px;                      
    
                            }
                            .placeholder {
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                                transition: all .2s ease;
                                pointer-events: none;
                            }
                            .inputValue:focus~.placeholder {
                                top: -20px;
                                outline:0 none;  
                                top: -18px;
                                font-size: 12px;
                                opacity: .6;                          
                            }
                            
                        }
                    }
                    .wrap_btn_login{
                        .btn_login {
                            cursor: pointer;
                            width: 100%;
                            height: 50px;
                            background-color: var(--colorWhite);
                            padding: 5px 12px 6px;
                            margin-top: 20px;
                            margin-bottom: 0;
                            text-transform: uppercase;
                            text-shadow: none;
                            font-size: 13px;
                            font-weight: 600;
                            color: var(--colorBlack);
                            -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,.2);
                            box-shadow: 1px 1px 4px 0px rgba(0,0,0,.2);
                            border: 0;
                            border-radius: 0;
                            -webkit-transition: background-color .2s ease !important;
                            transition: background-color .2s ease !important;

                            &:hover {
                                background-color: var(--colorBlack);
                                color: var(--colorWhite);
                            }
                        }
                        .btnForgot{
                            margin-top: 8px;
                            font-size: 11px;
                            text-align: center;
                            a {
                                color: #fff;

                                text-decoration: none;
                            }
                            &:hover {
                                a {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            animation:animatezoom 0.6s;
            margin: auto;
            z-index: 1;

        }
        @keyframes animatezoom{
            from {
                transform:scale(0)
            } 
            to{
                transform:scale(1)
            }
        }
    }
    
   
}

// add sticky
.nav_menu_sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_menu_sticky + .wrap_body_main_paper {
    padding-top: 102px;
}
//

.wrap_body_main_paper {
    display: flex;
    justify-content: center;
    .body_main_paper {
        .main_paper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 40px 0;
            margin-top: 40px;

            .list_paper{
                margin-bottom: 2px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        gap: 2px;
                        grid-template-areas:
                        ". . .";
                .item_paper {
                    .wrap_card_hover_zoom {
                        position: absolute;
                        top: 0;
                        .wrap_card_hover_zoom__img { 
                            .wrap_img_zoom {
                                img {
                                    filter: brightness(0.9);
                                    object-fit: cover;
                                }
                            }
                            
                        }
                    }
                }
                
            }
            .list_paper_sec {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 2px;
                grid-template-areas:". . . .";

                margin-bottom: 40px;
                .item_paper {
                    a {
                        .title_news_paper {
                            bottom: 10px;
                            font-size: 16px;
                            .date_news{
                                margin-top: 8px;
                                font-size: 12px;
                            }
                        }
                    }
                    .wrap_card_hover_filter {
                        position: absolute;
                        top: 0;
                        .wrap_card_hover_filter_img { 
                            .wrap_img_filter {
                                img {
                                    filter: brightness(0.9);
                                    object-fit: cover;
                                }
                            }
                            
                        }
                    }
                }
            }
            .item_paper {
                position: relative;
                padding-top: 100%;
                width: 100%;
                a {
                    overflow: hidden;
                    .title_news_paper {
                        position: absolute;
                        bottom: 25px;
                        left: 25px;
                        padding-right: 25px;

                        color: var(--colorWhite);
                        font-weight: 800;
                        font-size: 20px;
                        .title_news {
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        
                        .date_news{
                            font-size: 16px;
                            margin-top: 14px;
                        }
                        z-index: 1;
                    }
                    
                }
            }
            .advertisement {
                text-align: center;
                img {
                    max-width: 100%;
                    width: auto;
                }
            }

        }
        .content_main_paper{
            display: flex;
            margin-bottom: 40px;
            .wrap_layout_left_paper {
                width: 70%;
                .layout_left_paper {
                    display: flex;
                    flex-wrap: wrap;
                    padding-right: 20px;
                    .wrap_main_content_paper {
                        .header {
                            position: relative;

                            color: var(--colorBlack);
                            font-family: Oswald !important;
                            font-size: 22px;
                            line-height: 1.4;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            margin-bottom: 16px;
                            
                            height: 40px;

                            
                            .title {
                                display: flex; 
                                flex-direction: row; 
                                &:before, 
                                &:after { 
                                    content: ""; 
                                    flex: 1 1; 
                                    border-bottom: 2px solid #000; 
                                    margin: auto 6px; 
                                }
                            }
                        }
                        .main_content_paper {
                            margin-bottom: 50px;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            column-gap: 20px;
                            grid-template-areas:
                                ". .";
                            .wrap_layout_left {
                                .wrap_main_post {
                                }
                            }
                            .wrap_layout_right {
                                width: 100%;
                                height: 100%;
                                .wrap_list_paper {
                                    width: 100%;
                                    height: 100%;
                                    .list_paper {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
    
                                        width: 100%;
                                        height: 100%;
                                        .card_paper_main_post {
                                            &_content {
                                                display: flex;
                                              
                                                .wrap_img {
                                                    img {
                                                        width: 130px;
                                                        height: 130px;
                                                        object-fit: cover;
                                                        transition: filter 0.5s ease-in-out;
                                                    }
                                                    &:hover {
                                                        img {
                                                            filter: brightness(0.5);
                                                        }
                                                    }
                                                }
                                                .wrap_info_paper{ 
                                                    padding-left: 12px;
                                                    font-weight: bold;
                                                    a {
                                                        text-decoration: none;
                                                    }
                                                    .title {
    
                                                        color: var(--colorBlack);
    
                                                        overflow: hidden;
                                                        display: -webkit-box;
                                                        -webkit-line-clamp: 2; /* number of lines to show */
                                                        -webkit-box-orient: vertical;
                                                    
                                                        margin-bottom: 16px;
                                                    }
                                                    .detail_info {
                                                        display: flex;
                                                        align-items: center;
                                                        font-size: 10px ;
                                                        font-weight: bold ;
                                                        text-transform: uppercase ;
                                                        a {
                                                            text-decoration: none;
                                                            color: var(--colorWhite9);
                
                                                        }
                                                        .cate_paper {
                                                            margin-right: 8px;
                                                            color: var(--colorBlack);
                                                            
                                                        }
                                                        .date_author{
                                                            color: var(--colorWhite9);
                                                            span {
                                                                margin: 0 2px;
                                                            }
                                                        }
                                                        margin-bottom: 16px;
                                                    }
                                                    .date_comment {
                                                        display: flex;
                                                        align-items: center;
                                                        font-size: 10px;
                                                        color: var(--colorWhite9);
                                                    }
                                                }
                                            }
                                        }
                                        .line_bottom {
                                            margin: 14px 0;
                                            width: 100%;
                                            height: 1px;
                                            background-color: var(--colorWhite6);
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    .wrap_content_paper_sec {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 50px;

                        .header {
                            color: var(--colorBlack);
                            font-family: Oswald !important;
                            font-size: 22px ;
                            line-height: 1.4 ;
                            font-weight: 700 ;
                            text-transform: uppercase ;
                            letter-spacing: 1px ;
                                
                            margin-bottom: 16px;
                            .title {
                                padding-bottom: 4px;
                                // width: max-content;
                                border-bottom: 3px solid var(--colorBlack);
                            }
                        }
                        .list_card_paper {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            column-gap: 20px;
                            row-gap: 30px;
                            grid-template-areas:
                              ". .";
                        }
                        
                    }
                    .card_paper_column {
                        .card_paper_content{

                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            
                            .wrap_info_paper{
                                width: 100%;

                                padding-top: 24px;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                .title_paper {
                                    color: var(--colorBlack);
                                    font-size: 20px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    text-decoration: none;
                                    &:hover {
                                        color: var(--colorWhite8);
                                    }
                                }
                                .detail_info {
                                    display: flex;
                                    align-items: center;
                                    padding-top: 16px;
                                    font-size: 12px ;
                                    font-weight: bold ;
                                    text-transform: uppercase ;
                                    a {
                                        text-decoration: none;
                                        color: var(--colorWhite9);

                                    }
                                    .cate_paper {
                                        margin-right: 8px;
                                        color: var(--colorBlack);
                                        
                                    }
                                    .date_author{
                                        color: var(--colorWhite9);
                                        span {
                                            margin: 0 2px;
                                        }
                                    }
                                }
                                .content_paper {
                                    font-size: 16px;
                                    color: var(--colorWhite8);
                                    padding-top: 16px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3; /* number of lines to show */
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }
                    }
                    
                }
            }
            .wrap_layout_right_paper{
                width: 30%;
                position: relative;
                .layout_right_paper{
                    position: sticky;
                    top: 0;
                    padding:16px;
                    background-color: var(--colorWhite10);

                    .follow_us {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .box_social_media{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 8px;


                            .card_social{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-content: center;
                                background-color: var(--colorBlack3);  
    
                                text-align: center;
                                color: var(--colorWhite);
                                // height: 100%;
                                padding: 8px ;
                                margin: 4px;

                                .quantity {
                                    font-size: 17px;
                                    font-weight: bold;
                                    padding-top: 8px;
                                }
                                .content {
                                    padding-top: 4px;
                                    font-size: 15px;
                                }
                                .icon{
                                    width: 32px;
                                    height: 32px;
                                    background-image: url(//demo.tagdiv.com/newspaper_style_pro/wp-content/plugins/td-composer/legacy/Newspaper/assets/css/../images/sprite/elements.png);
                                    margin:  auto;
                                }
                                .icon_fb {
                                    background-position: -20px -20px;
                                }
                            }
                        }
                    }
                    .social_media {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .list_img_media{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            gap: 8px;
                            grid-template-areas:
                                ". .";
                               
                                
                        }
                    }
                    .most_popular {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .list_img_popular {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr 1fr;
                            row-gap: 24px
                            ;
                            grid-template-areas:
                                "."
                                "."
                                ".";
                            .wrap_card {
                                position: relative;
                                cursor: pointer;
                                .content {
                                    padding: 0 24px;
                                    text-align: center;
                                    position: absolute;
                                    left: 0;
                                    top: 45%;
                                    color: var(--colorWhite);
                                    font-size: 20px ;
                                    line-height: 1.4 ;
                                    font-weight: 700 ;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        .content_main_paper_sec {
            .list_card_paper_sec{
                .list_card_paper {
                        margin-bottom: 2px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        gap: 2px;
                        grid-template-areas:
                        ". . .";
                        .item_paper {
                            position: relative;
                            padding-top: 100%;
                            width: 100%;
                            a {
                                overflow: hidden;
                                .title_news_paper {
                                    position: absolute;
                                    bottom: 25px;
                                    left: 25px;
                                    padding-right: 25px;
            
                                    color: var(--colorWhite);
                                    font-weight: 800;
                                    font-size: 20px;
                                    .title_news {
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                    }
                                    
                                    .date_news{
                                        font-size: 16px;
                                        margin-top: 14px;
                                    }
                                    z-index: 1;
                                }
                                .wrap_card_hover_filter {
                                    position: absolute;
                                    top: 0;
                                }
                            }
                        }
                        margin-bottom: 40px;
                }
                .advertisement {
                    text-align: center;
                    img {
                        max-width: 100%;
                        width: auto;
                    }
                    margin-bottom: 40px;
                }
            }
        }
        .wrap_latest_paper {
            display: flex;
            margin-bottom: 40px;
            .wrap_layout_left {
                width: 70%;
                .header {
                    color: var(--colorBlack);
                    font-family: Oswald !important;
                    font-size: 20px ;
                    line-height: 1.4 ;
                    font-weight: 700 ;
                    text-transform: uppercase ;
                    letter-spacing: 1px ;
                        
                    margin-bottom: 16px;
                    .title {
                        padding-bottom: 4px;
                        width: max-content;
                        border-bottom: 3px solid var(--colorBlack);
                    }
                }
                .wrap_list_card_paper {
                    width: 100%;

                    .list_card_paper {
                        width: 100%;
                        .wrap_card_paper {
                            margin-bottom: 20px ;
                            .content_card {
                                
                                display: flex;
                                align-items: center;
                                .wrap_card_hover_filter {
                                    img {
                                        width: 150px;
                                         height: 150px;
                                    }
                                }
                                .wrap_info_paper {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0 20px;
                                    .title {
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2; /* number of lines to show */
                                        -webkit-box-orient: vertical;

                                        a {
                                            color: var(--colorBlack);
                                            font-weight: bold;
                                            font-size: 16px;
                                            text-decoration: none;
                                        }
                                    }
                                    .typecate_author {
                                        display: flex;
                                        font-size: 12px;
                                        color: var(--colorWhite9);
                                        margin-top: 16px;

                                        a {
                                            font-weight: bold;
                                            text-transform: uppercase;
                                            color: var(--colorWhite9);
                                            text-decoration: none;
                                        }
                                        .type_cate {
                                            color: var(--colorBlack);
                                            font-weight: bold;
                                            margin-right: 14px;
                                        
                                        }
                                        span {
                                            margin-right: 8px;
                                        }
                                    }
                                    .content_paper {
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 4; /* number of lines to show */
                                        -webkit-box-orient: vertical;

                                        color: var(--colorWhite8);
                                        margin-top: 16px;
                                        font-size: 13px ;
                                        line-height: 1.8 ;
                                        font-family: 'Open Sans',arial,sans-serif;
                                    
                                    }
                                }
                            }
                        }   
                    }
                    .wrap_load_more {
                        display: flex;
                        align-items: center;
                        margin:0 auto;
                        margin-top: 30px;
                        width: 88px;
                        cursor: pointer;
                        .txt_loadmore {
                            margin-right: 4px;
                        }
                        color: var(--colorWhite);
                        background-color: var(--colorBlack);
                        border-color: var(--colorBlack);
                        padding: 8px 12px;
                        border-width: 0px;
                        font-size: 12px ;
                        font-weight: 600 ;
                    }
                }
            }
            .wrap_layout_right {
                width: 30%;
                position: relative;
                .layout_right_paper{
                    position: sticky;
                    top: 0;
                    padding:16px;
                    background-color: var(--colorWhite10);

                    .follow_us {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .box_social_media{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 8px;


                            .card_social{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-content: center;
                                background-color: var(--colorBlack3);  
    
                                text-align: center;
                                color: var(--colorWhite);
                                // height: 100%;
                                padding: 8px ;
                                margin: 4px;

                                .quantity {
                                    font-size: 17px;
                                    font-weight: bold;
                                    padding-top: 8px;
                                }
                                .content {
                                    padding-top: 4px;
                                    font-size: 15px;
                                }
                                .icon{
                                    width: 32px;
                                    height: 32px;
                                    background-image: url(//demo.tagdiv.com/newspaper_style_pro/wp-content/plugins/td-composer/legacy/Newspaper/assets/css/../images/sprite/elements.png);
                                    margin:  auto;
                                }
                                .icon_fb {
                                    background-position: -20px -20px;
                                }
                            }
                        }
                    }
                    .social_media {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .list_img_media{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            gap: 8px;
                            grid-template-areas:
                                ". .";
                               
                                
                        }
                    }
                    .most_popular {
                        width: 100%;
                        margin-bottom: 40px;
                        .title {
                            width: max-content;
                            font-weight: bold;
                            color: var(--colorBlack);
                            font-size: 20px;
                            border-bottom: 3px solid var(--colorBlack);
                            padding-bottom: 8px;
                            margin-bottom: 24px;
                        }
                        .list_img_popular {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr 1fr;
                            row-gap: 24px
                            ;
                            grid-template-areas:
                                "."
                                "."
                                ".";
                            .wrap_card {
                                position: relative;
                                cursor: pointer;
                                .content {
                                    padding: 0 24px;
                                    text-align: center;
                                    position: absolute;
                                    left: 0;
                                    top: 45%;
                                    color: var(--colorWhite);
                                    font-size: 20px ;
                                    line-height: 1.4 ;
                                    font-weight: 700 ;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
}
.wrap_card_hover_filter {
    width: 100%;
    height: 100%;
    .wrap_card_hover_filter_img { 
        width: 100%;
        height: 100%;
        .wrap_img_filter {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                transition: filter 0.5s ease-in-out;
                // filter: brightness(0.9);
            }
        }
        
    }
    &:hover {
        .wrap_card_hover_filter_img {
            .wrap_img_filter {
                img {
                    filter: brightness(0.5) !important;
                   }
            }
           
        }
        
    }
}
.wrap_card_hover_zoom {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .wrap_card_hover_zoom__img { 
        width: 100%;
        height: 100%;
        .wrap_img_zoom {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                transition: transform .2s; 
            }
        }
        
    }
    &:hover {
        .wrap_card_hover_zoom__img {
            .wrap_img_zoom {
                img {
                    transform: scale(1.1);
                   }
            }
           
        }
        
    }
}
.wrap_footer_main_paper {
    background-color: var(--colorBlack);
    width: 100%;
    height: 35vh;
    display: flex;

    .footer_main_paper{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .wrap_logo{
            text-align: center;
            img {
                max-width: 130px;
            }
            float: left;
            z-index: 10;
        }
        .wrap_nav{
            display: flex;
            margin-top: 48px;
            margin-bottom: 16px;
            .item_nav {
                display: flex;
                position: relative;
                .title{
                    color: var(--colorWhite);
                    font-weight: bold;
                    text-decoration: none;
                    cursor: pointer;
                }
                .dot {
                    position: absolute;
                    top: 6px;
                    margin:0 16px ;

                    color: #ffffff;
                    background-color: var(--colorWhite);
                    
                    font-size: 6px;
                    height: 6px;
                    width: 6px;

                    line-height: 1;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    transform: rotate(45deg);
                    &::before {
                        content: "\e91e";
                    }
                }
            }
        }
        .copyright{
            color: var(--colorBlack4) ;
            font-size: 12px;
            font-weight: 600;
        }
    }
}


@media only screen and (max-width: 1200px) {
    .wrap_body_main_paper {
       
        .body_main_paper {
            .main_paper {
                .list_paper_sec {
                    .item_paper {
                        a {
                            .title_news_paper {
                                bottom: 10px;
                                font-size: 14px;
                                .date_news{
                                    margin-top: 8px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
                .item_paper {
                    a {
                        .title_news_paper {
                            .title_news {
                                font-size: 18px;
                            }
                            
                            .date_news{
                                font-size: 14px;
                            }
                        }
                        
                    }
                }
    
            }
            .content_main_paper{
                .wrap_layout_left_paper {
                    .layout_left_paper {
                        .wrap_main_content_paper {
                            .main_content_paper {
                                .wrap_layout_right {
                                    
                                    .wrap_list_paper {
                                       
                                        .list_paper {
                                            .card_paper_main_post {
                                                &_content {
                                                    
                                                    .wrap_info_paper{ 
                                                        .detail_info {
                                                            display: flex;
                                                            flex-direction: column;
                                                            align-items: unset;
                                                            .date_author {
                                                                margin-top: 4px;
                                                            }
                                                        }
                                                        .title {
                                                            font-size: 14px ;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                        .wrap_content_paper_sec {
                            .header {
                                font-size: 20px ;
                            }
                        }
                        .card_paper_column {
                            .card_paper_content{
                                
                                .wrap_info_paper{
                                    .title_paper {
                                        font-size: 18px;
                                    }
                                    .content_paper {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .wrap_layout_right_paper{
                    .layout_right_paper{
                        .social_media {
                            .title {
                                font-size: 18px;
                            }
                        }
                        .most_popular {
                            
                            .title {
                                font-size: 18px;
                            }
                            .list_img_popular {
                                
                                .wrap_card {
                                    .content {
                                        font-size: 16px ;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
            .content_main_paper_sec {
                .list_card_paper_sec{
                    .list_card_paper {
                            .item_paper {
                               
                                a {
                                    .title_news_paper {
                                        font-size: 18px;
                                        .date_news{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                    }
                }
            }
            .wrap_latest_paper {
                .wrap_layout_left {
                    .wrap_list_card_paper {
    
                        .list_card_paper {
                            .wrap_card_paper {
                                .content_card {
                                    .wrap_info_paper {
                                        .content_paper {
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3; /* number of lines to show */
                                            -webkit-box-orient: vertical;
                                        }
                                    }
                                }
                            }   
                        }
                    }
                }
                .wrap_layout_right {
                    .layout_right_paper{
                        .follow_us {
                            .title {
                                font-size: 18px;
                            }
                            .box_social_media{
                                .card_social{
                                    .quantity {
                                        font-size: 14px;
                                        padding-top: 2px;

                                    }
                                    .content {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .social_media {
                            
                            .title {
                                font-size: 18px;
                            }
                        }
                        .most_popular {
                            .title {
                                font-size: 18px;
                            }
                            .list_img_popular {
                                .wrap_card {
                                    .content {
                                        font-size: 16px ;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}