:root {
  --colorWhite: #fff;
  --colorWhite2: #F9F9F9;
  --colorWhite3: #FBFBFB;
  --colorWhite4: #FAFAFA;
  --colorWhite5: #E5E5E5;
  --colorWhite6: #d9d9d9;
  --colorWhite7: #666666;
  --colorWhite8: #444444;
  --colorWhite9: #999999;
  --colorWhite10: #ededed;
  --colorWhite11: #e3e3e3 ;
  --colorGrey: #434A54;
  --colorGrey2: #EBEDEC;
  --colorGrey3: #C4C4C4;
  --colorGrey4: #828282;
  --colorGrey5: #F0F0F0;
  --colorGrey6: #3A3847;
  --colorGrey7: #F5F5F5;
  --colorBlack: #000000;
  --colorBlack2: #2A2B2F;
  --colorBlack3: #222;
  --colorBlack4: #666;
  --colorGreen: #5CE389;
}

.header_main_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--colorWhite);
  position: relative;
}

.header_main_paper .wrap_nav_top {
  z-index: 101;
  background-color: var(--colorWhite);
}

.header_main_paper .wrap_nav_top .nav_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  margin: auto;
  border-bottom: 1px solid var(--colorGrey3);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_left .wrap_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_left .wrap_logo img {
  width: 120px;
  height: 30px;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_left .wrap_date {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid var(--colorGrey2);
  font-size: 14px;
  color: var(--colorGrey4);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .btn_link_pages_type {
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid var(--colorGrey4);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--colorGrey6);
  margin-left: 8px;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .btn_link_pages_type img {
  width: 12px;
  margin-right: 4px;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid var(--colorGrey2);
  position: relative;
  overflow: hidden;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search .input_search {
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid var(--colorGrey4);
  color: var(--colorGrey4);
  z-index: -1;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  width: 18px;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search .input_search:focus {
  outline: none;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search #open_input_search {
  position: absolute;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search input[id='open_input_search']:checked ~ .input_search {
  width: 160px;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search input[id='open_input_search']:checked ~ .input_search .wrap_icon_search .icon img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search .wrap_icon_search {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--colorWhite);
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search .wrap_icon_search .icon {
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  border: 1px solid var(--colorGrey4);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_input_search .wrap_icon_search .icon img {
  width: 12px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_btn_login_register {
  padding: 4px 8px;
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: var(--colorGrey6);
}

.header_main_paper .wrap_nav_top .nav_top .wrap_layout_right .wrap_btn_login_register img {
  width: 12px;
  height: 12px;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  margin-right: 8px;
}

.header_main_paper .wrap_nav_menu {
  z-index: 100;
  background-color: var(--colorWhite);
}

.header_main_paper .wrap_nav_menu .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
  border-bottom: 1px solid var(--colorGrey3);
  background-color: var(--colorWhite);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_icon_home {
  border-radius: 50%;
  width: 20px;
  text-align: center;
  cursor: pointer;
  margin: 0 8px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_icon_home img {
  width: 15px;
  height: 15px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu {
  position: relative;
  word-break: keep-all;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 92px;
  padding: 0 8px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu a {
  font-size: 15px;
  text-decoration: none;
  color: var(--colorBlack);
  font-weight: bold;
  font-weight: bold;
  word-break: keep-all;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu .dropdown_menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 190px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  background-color: var(--colorWhite);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-property: opacity,top,visible;
  transition-property: opacity,top,visible;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu .dropdown_menu a {
  font-weight: 500;
  color: var(--colorBlack);
  margin: 0;
  padding: 8px 12px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu .dropdown_menu a:hover {
  background-color: var(--colorWhite5);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu:hover {
  background-color: var(--colorBlack);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu:hover .dropdown_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--colorWhite);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu:hover .dropdown_menu a {
  color: var(--colorBlack);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_list_menu .item_menu:hover a {
  color: var(--colorWhite);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_tabbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 8px 0;
  margin: 0 8px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_tabbar .txtAll {
  font-size: 12px;
  text-decoration: none;
  color: var(--colorWhite7);
  font-weight: bold;
  margin: 0 8px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_tabbar img {
  width: 12px;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.header_main_paper .wrap_nav_menu .nav_menu input[id='open_modal_all_categories']:checked ~ .wrap_modal_all_categories {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: all .9;
  -webkit-transition: all .9;
  -moz-transition: all .9;
  -ms-transition: all .9;
  -o-transition: all .9;
  z-index: -1;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories {
  position: absolute;
  top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorWhite2);
  height: 70vh;
  z-index: -1;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories {
  width: 80%;
  height: 100%;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .header {
  max-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid var(--colorGrey3);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .header .title {
  font-size: 18px;
  color: var(--colorWhite7);
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .header .btn_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .header .btn_close img {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories {
  width: 90%;
  padding: 16px 0;
  border-right: 1px solid var(--colorGrey3);
  margin-right: 16px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
      grid-template-areas: ". . . . . .";
  overflow-y: scroll;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  background-color: var(--colorBlack4);
  height: 8px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories::-webkit-scrollbar-thumb {
  background-color: var(--colorBlack4);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--colorWhite5);
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category {
  color: var(--colorGrey6);
  margin-bottom: 16px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .title {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .title:hover {
  text-decoration: underline;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .list_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .list_type a {
  font-size: 13px;
  margin: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .list_type a:hover {
  text-decoration: underline;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_categories .list_categories .item_category .see_mpre {
  width: 80px;
  border-top: 1px solid var(--colorGrey3);
  color: var(--colorGrey4);
  margin: 6px 0;
  padding-top: 8px;
  font-size: 10px;
  cursor: pointer;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_type_news {
  width: 10%;
  padding: 16px 0;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_type_news .list_type_news {
  height: 100%;
  overflow-y: scroll;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_type_news .list_type_news::-webkit-scrollbar {
  display: none;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_type_news .list_type_news .type_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid var(--colorGrey);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.header_main_paper .wrap_nav_menu .nav_menu .wrap_modal_all_categories .modal_all_categories .content_modal .wrap_list_type_news .list_type_news .type_new a {
  margin: 4px 0;
  font-size: 14px;
  text-decoration: none;
  color: var(--colorBlack);
}

.header_main_paper input[id='open_wrap_modal_login']:checked ~ .wrap_modal_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main_paper .wrap_modal_login {
  position: fixed;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans',arial,sans-serif;
}

.header_main_paper .wrap_modal_login .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.header_main_paper .wrap_modal_login .modal_login {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
  margin: auto;
  z-index: 1;
}

.header_main_paper .wrap_modal_login .modal_login .background_modal {
  position: absolute;
  z-index: -1;
}

.header_main_paper .wrap_modal_login .modal_login .background_modal img {
  height: 500px;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.header_main_paper .wrap_modal_login .modal_login .content_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .close {
  position: absolute;
  top: 35px;
  right: 35px;
  line-height: 0;
  color: #fff;
  font-family: 'newspaper',sans-serif;
  font-size: 35px;
  left: auto;
  cursor: pointer;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .header {
  text-align: center;
  color: var(--colorWhite);
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .header .title {
  padding: 26px 0 22px;
  line-height: 20px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .header .greeting {
  font-size: 14px;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input {
  width: 60%;
  margin-top: 100px;
  color: var(--colorWhite);
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_all_input .wrap_input {
  position: relative;
  margin-bottom: 36px;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_all_input .wrap_input .inputValue {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--colorWhite);
  color: white;
  outline: 0 none;
  z-index: 1;
  height: 30px;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_all_input .wrap_input .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  pointer-events: none;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_all_input .wrap_input .inputValue:focus ~ .placeholder {
  top: -20px;
  outline: 0 none;
  top: -18px;
  font-size: 12px;
  opacity: .6;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_btn_login .btn_login {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: var(--colorWhite);
  padding: 5px 12px 6px;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 13px;
  font-weight: 600;
  color: var(--colorBlack);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  -webkit-transition: background-color .2s ease !important;
  transition: background-color .2s ease !important;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_btn_login .btn_login:hover {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_btn_login .btnForgot {
  margin-top: 8px;
  font-size: 11px;
  text-align: center;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_btn_login .btnForgot a {
  color: #fff;
  text-decoration: none;
}

.header_main_paper .wrap_modal_login .modal_login .content_modal .body_input .wrap_btn_login .btnForgot:hover a {
  text-decoration: underline;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav_menu_sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_menu_sticky + .wrap_body_main_paper {
  padding-top: 102px;
}

.wrap_body_main_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap_body_main_paper .body_main_paper .main_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
  margin-top: 40px;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2px;
      grid-template-areas: ". . .";
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper .item_paper .wrap_card_hover_zoom {
  position: absolute;
  top: 0;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper .item_paper .wrap_card_hover_zoom .wrap_card_hover_zoom__img .wrap_img_zoom img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2px;
      grid-template-areas: ". . . .";
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper a .title_news_paper {
  bottom: 10px;
  font-size: 16px;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper a .title_news_paper .date_news {
  margin-top: 8px;
  font-size: 12px;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper .wrap_card_hover_filter {
  position: absolute;
  top: 0;
}

.wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper .wrap_card_hover_filter .wrap_card_hover_filter_img .wrap_img_filter img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap_body_main_paper .body_main_paper .main_paper .item_paper {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.wrap_body_main_paper .body_main_paper .main_paper .item_paper a {
  overflow: hidden;
}

.wrap_body_main_paper .body_main_paper .main_paper .item_paper a .title_news_paper {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding-right: 25px;
  color: var(--colorWhite);
  font-weight: 800;
  font-size: 20px;
  z-index: 1;
}

.wrap_body_main_paper .body_main_paper .main_paper .item_paper a .title_news_paper .title_news {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrap_body_main_paper .body_main_paper .main_paper .item_paper a .title_news_paper .date_news {
  font-size: 16px;
  margin-top: 14px;
}

.wrap_body_main_paper .body_main_paper .main_paper .advertisement {
  text-align: center;
}

.wrap_body_main_paper .body_main_paper .main_paper .advertisement img {
  max-width: 100%;
  width: auto;
}

.wrap_body_main_paper .body_main_paper .content_main_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper {
  width: 70%;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .header {
  position: relative;
  color: var(--colorBlack);
  font-family: Oswald !important;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  height: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .header .title:before, .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .header .title:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto 6px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
      grid-template-areas: ". .";
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right {
  width: 100%;
  height: 100%;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper {
  width: 100%;
  height: 100%;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_img img {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_img:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper {
  padding-left: 12px;
  font-weight: bold;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper a {
  text-decoration: none;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .title {
  color: var(--colorBlack);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info a {
  text-decoration: none;
  color: var(--colorWhite9);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info .cate_paper {
  margin-right: 8px;
  color: var(--colorBlack);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info .date_author {
  color: var(--colorWhite9);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info .date_author span {
  margin: 0 2px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .date_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: var(--colorWhite9);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .line_bottom {
  margin: 14px 0;
  width: 100%;
  height: 1px;
  background-color: var(--colorWhite6);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_content_paper_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_content_paper_sec .header {
  color: var(--colorBlack);
  font-family: Oswald !important;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_content_paper_sec .header .title {
  padding-bottom: 4px;
  border-bottom: 3px solid var(--colorBlack);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_content_paper_sec .list_card_paper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
      grid-template-areas: ". .";
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper {
  width: 100%;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .title_paper {
  color: var(--colorBlack);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .title_paper:hover {
  color: var(--colorWhite8);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .detail_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .detail_info a {
  text-decoration: none;
  color: var(--colorWhite9);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .detail_info .cate_paper {
  margin-right: 8px;
  color: var(--colorBlack);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .detail_info .date_author {
  color: var(--colorWhite9);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .detail_info .date_author span {
  margin: 0 2px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .content_paper {
  font-size: 16px;
  color: var(--colorWhite8);
  padding-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper {
  width: 30%;
  position: relative;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 16px;
  background-color: var(--colorWhite10);
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media .card_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--colorBlack3);
  text-align: center;
  color: var(--colorWhite);
  padding: 8px;
  margin: 4px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media .card_social .quantity {
  font-size: 17px;
  font-weight: bold;
  padding-top: 8px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media .card_social .content {
  padding-top: 4px;
  font-size: 15px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media .card_social .icon {
  width: 32px;
  height: 32px;
  background-image: url(//demo.tagdiv.com/newspaper_style_pro/wp-content/plugins/td-composer/legacy/Newspaper/assets/css/../images/sprite/elements.png);
  margin: auto;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .follow_us .box_social_media .card_social .icon_fb {
  background-position: -20px -20px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .social_media {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .social_media .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .social_media .list_img_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 8px;
      grid-template-areas: ". .";
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .list_img_popular {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 24px;
      grid-template-areas: "." "." ".";
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .list_img_popular .wrap_card {
  position: relative;
  cursor: pointer;
}

.wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .list_img_popular .wrap_card .content {
  padding: 0 24px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 45%;
  color: var(--colorWhite);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2px;
      grid-template-areas: ". . .";
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a {
  overflow: hidden;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .title_news_paper {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding-right: 25px;
  color: var(--colorWhite);
  font-weight: 800;
  font-size: 20px;
  z-index: 1;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .title_news_paper .title_news {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .title_news_paper .date_news {
  font-size: 16px;
  margin-top: 14px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .wrap_card_hover_filter {
  position: absolute;
  top: 0;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .advertisement {
  text-align: center;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .advertisement img {
  max-width: 100%;
  width: auto;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left {
  width: 70%;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .header {
  color: var(--colorBlack);
  font-family: Oswald !important;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .header .title {
  padding-bottom: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 3px solid var(--colorBlack);
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper {
  width: 100%;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper {
  width: 100%;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper {
  margin-bottom: 20px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_card_hover_filter img {
  width: 150px;
  height: 150px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .title a {
  color: var(--colorBlack);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .typecate_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: var(--colorWhite9);
  margin-top: 16px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .typecate_author a {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--colorWhite9);
  text-decoration: none;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .typecate_author .type_cate {
  color: var(--colorBlack);
  font-weight: bold;
  margin-right: 14px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .typecate_author span {
  margin-right: 8px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .content_paper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: var(--colorWhite8);
  margin-top: 16px;
  font-size: 13px;
  line-height: 1.8;
  font-family: 'Open Sans',arial,sans-serif;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .wrap_load_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 88px;
  cursor: pointer;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  border-color: var(--colorBlack);
  padding: 8px 12px;
  border-width: 0px;
  font-size: 12px;
  font-weight: 600;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .wrap_load_more .txt_loadmore {
  margin-right: 4px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right {
  width: 30%;
  position: relative;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 16px;
  background-color: var(--colorWhite10);
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--colorBlack3);
  text-align: center;
  color: var(--colorWhite);
  padding: 8px;
  margin: 4px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .quantity {
  font-size: 17px;
  font-weight: bold;
  padding-top: 8px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .content {
  padding-top: 4px;
  font-size: 15px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .icon {
  width: 32px;
  height: 32px;
  background-image: url(//demo.tagdiv.com/newspaper_style_pro/wp-content/plugins/td-composer/legacy/Newspaper/assets/css/../images/sprite/elements.png);
  margin: auto;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .icon_fb {
  background-position: -20px -20px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .social_media {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .social_media .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .social_media .list_img_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 8px;
      grid-template-areas: ". .";
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular {
  width: 100%;
  margin-bottom: 40px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 20px;
  border-bottom: 3px solid var(--colorBlack);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .list_img_popular {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 24px;
      grid-template-areas: "." "." ".";
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .list_img_popular .wrap_card {
  position: relative;
  cursor: pointer;
}

.wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .list_img_popular .wrap_card .content {
  padding: 0 24px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 45%;
  color: var(--colorWhite);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.wrap_card_hover_filter {
  width: 100%;
  height: 100%;
}

.wrap_card_hover_filter .wrap_card_hover_filter_img {
  width: 100%;
  height: 100%;
}

.wrap_card_hover_filter .wrap_card_hover_filter_img .wrap_img_filter {
  width: 100%;
  height: 100%;
}

.wrap_card_hover_filter .wrap_card_hover_filter_img .wrap_img_filter img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.wrap_card_hover_filter:hover .wrap_card_hover_filter_img .wrap_img_filter img {
  -webkit-filter: brightness(0.5) !important;
          filter: brightness(0.5) !important;
}

.wrap_card_hover_zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap_card_hover_zoom .wrap_card_hover_zoom__img {
  width: 100%;
  height: 100%;
}

.wrap_card_hover_zoom .wrap_card_hover_zoom__img .wrap_img_zoom {
  width: 100%;
  height: 100%;
}

.wrap_card_hover_zoom .wrap_card_hover_zoom__img .wrap_img_zoom img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.wrap_card_hover_zoom:hover .wrap_card_hover_zoom__img .wrap_img_zoom img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrap_footer_main_paper {
  background-color: var(--colorBlack);
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_footer_main_paper .footer_main_paper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap_footer_main_paper .footer_main_paper .wrap_logo {
  text-align: center;
  float: left;
  z-index: 10;
}

.wrap_footer_main_paper .footer_main_paper .wrap_logo img {
  max-width: 130px;
}

.wrap_footer_main_paper .footer_main_paper .wrap_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 16px;
}

.wrap_footer_main_paper .footer_main_paper .wrap_nav .item_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrap_footer_main_paper .footer_main_paper .wrap_nav .item_nav .title {
  color: var(--colorWhite);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.wrap_footer_main_paper .footer_main_paper .wrap_nav .item_nav .dot {
  position: absolute;
  top: 6px;
  margin: 0 16px;
  color: #ffffff;
  background-color: var(--colorWhite);
  font-size: 6px;
  height: 6px;
  width: 6px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrap_footer_main_paper .footer_main_paper .wrap_nav .item_nav .dot::before {
  content: "\e91e";
}

.wrap_footer_main_paper .footer_main_paper .copyright {
  color: var(--colorBlack4);
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper a .title_news_paper {
    bottom: 10px;
    font-size: 14px;
  }
  .wrap_body_main_paper .body_main_paper .main_paper .list_paper_sec .item_paper a .title_news_paper .date_news {
    margin-top: 8px;
    font-size: 10px;
  }
  .wrap_body_main_paper .body_main_paper .main_paper .item_paper a .title_news_paper .title_news {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .main_paper .item_paper a .title_news_paper .date_news {
    font-size: 14px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .detail_info .date_author {
    margin-top: 4px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_main_content_paper .main_content_paper .wrap_layout_right .wrap_list_paper .list_paper .card_paper_main_post_content .wrap_info_paper .title {
    font-size: 14px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .wrap_content_paper_sec .header {
    font-size: 20px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .title_paper {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_left_paper .layout_left_paper .card_paper_column .card_paper_content .wrap_info_paper .content_paper {
    font-size: 14px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .social_media .title {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .title {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper .wrap_layout_right_paper .layout_right_paper .most_popular .list_img_popular .wrap_card .content {
    font-size: 16px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .title_news_paper {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .content_main_paper_sec .list_card_paper_sec .list_card_paper .item_paper a .title_news_paper .date_news {
    font-size: 14px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_left .wrap_list_card_paper .list_card_paper .wrap_card_paper .content_card .wrap_info_paper .content_paper {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .title {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .quantity {
    font-size: 14px;
    padding-top: 2px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .follow_us .box_social_media .card_social .content {
    font-size: 12px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .social_media .title {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .title {
    font-size: 18px;
  }
  .wrap_body_main_paper .body_main_paper .wrap_latest_paper .wrap_layout_right .layout_right_paper .most_popular .list_img_popular .wrap_card .content {
    font-size: 16px;
  }
}
/*# sourceMappingURL=landing.css.map */